
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3fa3bc; 
    color: #2C3E50;
}


.navbar {
    width: 100%;
    background-color: #2C3E50;
    border-radius: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #3498DB;
    border-radius: 20px;
}


.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px); 
    width: 100%;
    background-color: #3498DB;
    padding: 20px;
    box-sizing: border-box;
}


.contact-block {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 100%;
    max-width: 300px; 
    box-sizing: border-box;
    text-align: center;
}


.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
}

.flip-card-front {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.link, .profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Mail {
    height: 125px;
    width: 155px;
}

.Git {
    height: 140px;
}

button {
    color: #2C3E50;
    background-color: #F1C40F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

a {
    text-decoration: none;
    color: #2C3E50;
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; 
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0; 
    }

    .contact-block {
        margin: 10px 0;
        width: 90%; 
    }

    .flip-card {
        height: 120px; 
        width: 120px;  
    }

    button {
        font-size: 16px;
        padding: 0.5em 1em;
    }
}
