body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-content: center;
  }
  
  .converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #00FF5D;
    padding: 15px;
    background-color: aqua;
  }
  
  .converter input,
  .converter select,
  .converter button {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  #result {
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
  }
  
  #result.too-hot {
    background-color: red;
  }
  
  #result.manageable {
    background-color: yellow;
  }
  
  #result.perfect {
    background-color: green;
  }
  
  #result.too-cold {
    background-color: blue;
  }
  