h1{
    text-align: center;
    text-transform: capitalize;
    height: 15px;
    border: 5px;
    color: white;
}

.real{
    height: 800px;
}

#display {
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px; 
    padding: 0px; 
    box-sizing: border-box;
    border: 0px; 
}
#display2 {
    width: 100%;
    height: 30px;
    font-size: 20px; 
    padding: 0px; 
    box-sizing: border-box; 
    border: 0px ; 
}

.info{
    height: 40px;
    width: 40px;
    border: 2px;
    border-style: inset;
    background-color: aqua;
    text-align: center;
    font-size: 30px;
}

.res{
    height: 40px;
    width: 30px;
    text-align:end;
    text-transform: capitalize;
    margin-left: 0px;
    margin-bottom: 0px;
    align-content:flex-end;
    text-transform: capitalize;
}

.no{
    width: 100px;
    margin-right: 1px;
    border: 0px;
}

.math{
    height: 150px;
    width: 130px;
    margin-left: 120px;
}

.main{
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: inset;
    height: 380px;
    width: 300px;
    margin-left: 520px;
    background-color: lightslategray;
}

.details{
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: inset;
    width: 450px;
    margin-top: 10px;
    margin-left: 450px;
    background-color: lawngreen;
}

.b1{
    background-color: rgb(219, 212, 212);
    text-align: center;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

.b2{
    align-content: center;
    background-color: rgb(219, 212, 212);
    text-align: center;
    color: black;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

button{
    height: 35px;
    width: 37px;
    margin-left: 30px;
    border-radius: 11px;
}

.ad{
    margin-left: 30px;
}

.c{
    margin-left: 100px;
    align-content: center;
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
    margin-top: -10px;
    text-transform: capitalize;
    font-size: auto;
}

.ans{
    height: 70px;
    width: 250px;
    margin-left: 15px;
    margin-bottom: 5px;
    border: 10px;
    border-color: black;
    border-radius: 7px;
    border-style: outset;
    background-color: #f0f0f0;
    font-size: 45px;
}

.add{
    height: auto;
}

.insta{
    position: relative;
    bottom: -0.1px;
    height: 30px;
    width: 25px;
}

.navbar {
    background-color: #BEFF39;
    border-radius: 20px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: #2C3E50; 
}

.navbar ul li a:hover {
    background-color: #f8faf6;
    border-radius: 20px;
}